:root {
  font-size: 62.5%; /* 1 rem = 10px, 62.5% of 16px */
}

* {
  box-sizing: border-box;
  text-decoration: none;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold {
  font-weight: 600;
}

button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--back {
  background-color: #4646d1;
  color: #ffffff;
}

.btn--remind {
  background-color: hsl(120, 78%, 40%);
  color: #fff;
}

.btn--report {
  background-color: #eb3333;
  color: #fff;
}

.body--header {
}

.body__logo {
  height: 100%;
}
.body__header--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  height: 3rem;
  text-align: left !important;
}

.body__nav--listItem {
  text-align: center;
  width: 15rem;
  padding: 2rem;
  font-size: 1.2rem;
}

.spacer {
  display: inline;
  width: 10%;
}

.main__heading--container {
  padding: 1rem;
  background-color: rgb(207, 226, 243);
}

.break {
  display: inline;
  border: 1px solid black;
  margin: 0 2rem;
}

.main__heading--heading {
  text-align: center;
}

.main__heading--sub {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.main__heading--content {
  margin: 0 auto;
  display: flex;
  /* Below for media rules */
  /* flex-direction: column; */
  /* justify-content: center; */
}
.hero {
  margin: 0 auto;
}

.hero__sub {
  font-size: 1.5rem;
}
.hero__aside {
  width: 50%;
}

.hero__aside--content {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 2rem;
}

.main__nav--container {
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.main__nav--listItem {
  margin: 1rem 3rem;
}

.main__section {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 1rem;
}

.section__story,
.section__timeline {
  font-size: 1.5rem;
  margin: 1rem 3rem;
}

.section__timeline {
  text-align: center;
}

.section__image {
  width: 80%;
  margin: 2rem auto;
}

.complicated,
.timeline {
  width: 50%;
}

.section__bottom {
  text-align: center;
  font-size: 1.3rem;
}

footer {
  margin: 2rem;
  border-top: 1px solid black;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  font-size: 1.5rem;
}

@media screen and (max-device-width: 700px) {
  .main__heading--box {
    font-size: 2rem;
  }
  .break {
    display: inline;
    border: none;
  }
  .body__header {
    height: 10rem;
  }

  .body__header--nav {
    margin: 5rem;
  }

  .body__header--nav input {
    height: 1rem;
  }
  .body__nav--listItem {
    display: block;
  }

  .main__heading--container {
    font-size: 2rem;
  }
  .main__heading--content {
    flex-direction: column;
  }
  .main__hero {
    width: 100%;
  }
  .main__nav--container {
    flex-direction: column;
    justify-content: center;
  }
  .hero__sub {
    text-align: center;
  }
  .hero__aside {
    margin: 0 auto;
    width: 100%;
  }
  .btn--back,
  .btn--remind,
  .btn--report {
    width: fit-content;
    font-size: 3rem;
  }
  .section__image {
    width: 100%;
  }
  .footer__nav {
    flex-direction: column;
    font-size: 3rem;
    justify-items: center;
    align-items: center;
  }
  .footer__nav--listItem {
    margin: 1rem;
    padding: 1rem;
    border-bottom: 1px solid black;
  }
}
