:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 0.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  text-transform: uppercase;
  height: 3rem;
  background: lightgreen;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: 0.2rem 0.2rem grey;
  background-color: #3fb93a;
}

button:visited {
  background: lightgray;
}

h1 {
  text-align: center;
  font-size: 4vh;
}

h2 {
  text-align: center;
  font-size: 3vh;
}

h3 {
  font-size: 2.5vh;
}

a {
  text-transform: uppercase;
  color: black;
}

a:hover {
  color: grey;
}

header h1 {
  margin: 3rem 0 auto;
}

header p {
  font-size: 2rem;
  text-align: center;
}

header nav {
  display: flex;
  margin: 2rem 1rem;
  height: 5vh;
  justify-content: space-between;
  display: flex;
}
header nav button {
}

header nav img:first-child {
  height: 5vh;
}

header nav a {
  font-size: 1.5rem;
}

/* header nav input {
  height: 2vh;
  margin: 5vh 0;
} */

header nav img {
  height: 3vh;
}

main {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
}

main header aside nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding-top: 2rem;
}

main img {
  width: 70%;
}
main img:nth-child(1) {
  width: 50%;
}

main aside {
  display: flex;
  flex-direction: column;
}
main aside:first-of-type {
  width: 50%;
}

main p {
  font-size: 2vh;
}

main ul li {
  font-size: 2vh;
}

main aside button {
  width: 16vw;
}

section {
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
}

section img {
  width: 60%;
  padding: 2rem 5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

section button {
  width: fit-content;
  height: 3vh;
  justify-content: center;
  align-self: center;
  background: orangered;
}

section button:active {
  background: lightcoral;
}

section:last-child {
  text-align: center;
}

section ul {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  width: 50%;
}

footer {
  display: flex;

  font-size: 2vh;
}

footer nav {
  margin: 2rem 1rem;
  height: 5vh;
  justify-content: space-between;
  display: flex;
}

footer nav a {
}
